*{
    margin: 0;
    padding: 0;
   
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(front-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    list-style: none;

}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: red;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box hi{
    font-size: 62px;
    font-weight: bolder;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: white;
    
}
.hero-btn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 34px;
    border: 1px solid white;
    border-radius: 1px;
    color: whitesmoke;
    font-size: 15px ;
    font-weight: none;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
}
.hero-btn:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
@media(max-width: 700px){
    .text-box hi{
        font-size: 8px;
        
    }
    .text-box p{
        font-size: 10px;
        margin: 10px 0 40px;
        
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        height: 100vh;
        width: 150px;
        background-color: red;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav.fa{
        display: block;
        color:white;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/* courses*/
.COURSES{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: brown;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: black;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    margin-bottom: 5%;
    flex-basis: 32%;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: burlywood;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }


}
/*--------------campus------*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:50px;
}
.campus-col{
    margin-bottom: 30px;
    flex-basis: 32%;
    border-radius: 10px;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0,0,0,0.7);
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    

}
/*------facilities-----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.facility-col{
    flex-basis:32% ;
    border-radius: 10px;
    margin: 5%;
    text-align: left;
}
.facility-col img{
    width: 100%;
    border-radius: 10px;
}
.facility-col p{
    padding: 0;
    font-size: 18px;
}
.facility-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*-------testimonials----*/

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}

.testimonial-col{
    flex-basis:44% ;
    border-radius: 10px;
    margin: 5%;
    text-align: left;
    display: flex;
    background: wheat;
    padding: 20px;
    cursor: pointer;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
    font-size: 18px;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col.fa{
    color: aqua;
}
@media(max-width: 700px){
    testimonial-col img{
        
        margin-left: 0px;

        margin-right: 15px;
    }
    .testimonial-col p{
        padding: 0;
        font-size: 12px;
    }
}
.contacts{
    width: 100%;
    height: 40vh;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(baner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    
}
.contacts hi{
    margin-bottom: 40px;
    padding: 0;
    color: brown;
}
.contacts p{
    color: white;
    font-size: 300;
}
@media(max-width:700px){
    .contacts hi{
        font-size: 20px;
    }
}
/*--------footer----*/
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.footer h4{
    font-size: 44px;
    font-weight: 600;
    color:brown;
}
.icons.fa{
    color: red;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
}
/*----about us page---------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(baner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header :horizontal{
    margin-top: 100%;
}
.about-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    border-radius: 10px;
    padding: 30px 2px;
    
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    background: transparent;
    border: 1px solid red;
    color: red;
}
/*--------blogs----*/
.blog-content{
    width: 80%;
    padding: 60px 0;
    margin: auto;
}
.blog-left{
    flex-basis: 65%;

}
.blog-left img{
    width: 100%;
}
.blog-left hi{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;

}
.blog-left p{
    padding: 0;
    color:black;
}
.blog-right{
    flex-basis: 32%;
    
}
.blog-right h3{
    color:white;
    background: red;
    padding:7px 0 ;
    margin-bottom: 20px;
    font-size: 16px;

}
.blog-right div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    color: #555;


}
.comment-box{
    border: 1px solid brown;
    padding: 10px 20px;
    margin: 50px 0;
   
}
.comment-box h3{
    text-align: left;
}
.comment-form input ,.comment-form textarea{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: lightgrey;
    outline: none;

}
.comment-form button{
    margin: 10px o;
}
@media(max-width:700px){
    .blog-left h1{
        font-size: 20px;
    }
    .blog-left p{
        font-size: 16px;
    }
    }
/*--------contact us page----*/
.location{

    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis:48% ;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col p{
    padding:0;

}
.contact-col  h2{
    font-size: 32px;
    font-weight: 400;
    color: brown;
    margin-bottom: 5px;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    margin-bottom: 17px;
    padding: 15px;
    border: 1px solid grey;
    box-sizing: border-box;
    background: lightgrey;
    outline: none;
    
}